In [8]:
import sys
sys.path.append('C:/Users/01061.DESKTOP-UR6KUEV/Desktop/소스코드')
import pandas as pd
from gower_similarity import *

In [2]:
df1 = pd.read_csv('C:/Users/01061.DESKTOP-UR6KUEV/KT_visang/국내_유사도_최종_데이터셋.csv', encoding='cp949')
df2 = pd.read_csv('C:/Users/01061.DESKTOP-UR6KUEV/KT_visang/해외_유사도_최종_데이터셋.csv', encoding='cp949')

In [8]:
print(df1.shape)
print(df2.shape)

(2544, 225)
(4882, 225)

In [6]:
타겟_국내기업 = 'NAVER'
filtering_list = ['감정지수', '감정비율']
weights = 1000000

make_us_recommendation(타겟_국내기업, filtering_list, weights, df1, df2)

           Gower
Ticker
CRGE    2.020056
CR      2.032822
ASST     2.04918

In [15]:
타겟_국내기업 = 'AP시스템'
filtering_list = ['투자활동', '자본', '부채']
weights = 1000000

make_us_recommendation(타겟_국내기업, filtering_list, weights, df1, df2)

               Gower
Ticker
IPXXU   1.273129e+08
GODNU   1.318333e+08
ASO     1.414397e+08

In [22]:
타겟_해외기업 = 'ABNB'
filtering_list = ['감정비율', '화제성', 'PER']
weights = 1000000

make_kr_recommendation(타겟_해외기업, filtering_list, weights, df1, df2)

            Gower
기업
아이엘사이언스  0.347826
가온칩스     0.390416
오에스피     0.390503

In [25]:
타겟_해외기업 = 'ABNB'
filtering_list = ['감정비율', '섹터']
weights = 1000000

make_kr_recommendation(타겟_해외기업, filtering_list, weights, df1, df2)

             Gower
기업
우리엔터프라이즈  0.013504
노랑풍선      0.013898
레드캡투어     0.014101